{% extends "base.html"  %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/projetos.css">
<title>Projetos - Portfólio de Marcus Betti</title>
{% endblock %}

{% block content %}
<!-- carrossel de imagens -->
    <br>
    <br>    
    <h2>Projetos</h2>
    <hr>
    <br>
    <div class="carousel">
      <div class="carousel-inner">
        <div class="carousel-item">
          <div class="carousel-item-content">
            <a href="https://github.com/api-fatec-primeiro-semestre/api-primeiro-semestre" target="_blank">
              <img src="/static/img/COVID_proj.png" alt="Imagem Projeto API Covid Longa">
            </a>
              <h2 class="carousel-item-title">{{projeto1}}</h2>
              <p class="carousel-item-description">Projeto integrado do 1º semestre do curso de Desenvolvimento de Software Multiplataforma da FATEC "Professor Jessen Vidal" - São José dos Campos</p>
              </div>
              </div>
              
        <div class="carousel-item">
          <div class="carousel-item-content">
              <a href="https://github.com/marcusvbe/Desafio-2-UNES" target="_blank">
              <img src="/static/img/desafio_proj.png" alt="Imagem Desafio Unes">
              </a>
              <h2 class="carousel-item-title">{{projeto2}}</h2>
              <p class="carousel-item-description">Descrição 2</p>
              </div>
              </div>
              
        <div class="carousel-item">
          <div class="carousel-item-content">
              <a href="https://github.com/marcusvbe/repositorio_digital" target="_blank">
              <img src="/static/img/portfolio_proj.png" alt="Imagem Portfólio - Design Digital">
              </a>
              <h2 class="carousel-item-title">{{projeto3}}</h2>
              <p class="carousel-item-description">Descrição 3 (repositório do portfólio temporariamente com acesso restrito).</p>
              </div>
              </div>
              </div>
              <div class="carousel-control left" onclick="changeSlide(-1)"><</div>
              <div class="carousel-control right" onclick="changeSlide(1)">></div>
              <ul class="carousel-indicators"></ul>
              </div>
    </div>
  
                <script>
                  var carousel = document.querySelector('.carousel');
                  var carouselInner = carousel.querySelector('.carousel-inner');
                  var carouselItems = carouselInner.querySelectorAll('.carousel-item');
                  var currentIndex = 0;
                  var timer = setInterval(function() {
                    changeSlide(1);
                  }, 5000);
              
                  function changeSlide(n) {
                    clearInterval(timer);
                    currentIndex += n;
                    if (currentIndex < 0) {
                      currentIndex = carouselItems.length - 1;
                    } else if (currentIndex >= carouselItems.length) {
                      currentIndex = 0;
                    }
                    carouselInner.style.left = -currentIndex * 100 + '%';
                    updateIndicators();
                    timer = setInterval(function() {
                      changeSlide(1);
                    }, 5000);
                  }
              
                  function updateIndicators() {
                    var indicators = carousel.querySelector('.carousel-indicators');
                    var indicatorHTML = '';
                    for (var i = 0; i < carouselItems.length; i++) {
                      if (i === currentIndex) {
                        indicatorHTML += '<li class="carousel-indicator active"></li>';
                      } else {
                        indicatorHTML += '<li class="carousel-indicator"></li>';
                      }
                    }
                    indicators.innerHTML = indicatorHTML;
                  }
                </script>

{% endblock %} 