h2 {
    color: #ecad10e8;
    font-size: 3rem;
}

h3 {
    color: #093426;
    font-size: 2.3rem;
}

form {
    color: #093426;
    font-size: 1.8rem;
}

/* ver como deixar os campos do formulário e o botão mais bonito 
e também como controlar o espaço entre o nome do campo e o campo (mesmo
tirando o <br> entre eles, fica uma distância automática
e como usar um "name" no CSS -> name="e-mail"
*/