#foto {

    width: 20%;
}

/* foto pequena para largura de tela menor -- colocar outra foto */

/* deixar textosobremim e foto (ids) um do lado do outro */



h2 {
    color: #40504b;
    font-size: 3.5rem;
}

p {
    color: #0d6346;
    font-size: 1.6rem;
}

