/* definir margens laterais pra página toda.  ?? é uma boa prática ?? */

/* mudar a fonte do Seja-bem e do Portfólio de Marcus Betti
mudar a cor de Portfólio -> deixar mais claro */

/* refazer o menu para deixar igual ao wireframe */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,700&family=Poppins:wght@300&display=swap');


.navbar {
  background-color: #093426;
  color: #093426;
  display: flex;
  justify-content: space-around;
  /* height: 50px; outro jeito de aumentar altura do background do menu */
  align-items: center; /* todos elem alinhados na vertical */
  font-family: "IBM+Plex+Sans", sans-serif;
  font-size: 1.5rem;
}

.logo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;

}

.nav-list {
  list-style-type: none; /* tira os bullet points */

}

.nav-list .list-item {
  display: inline-block; /* deixa lado a lado*/
  padding: 40px 10px; /* top -- left/right */
}

.navbar a {
  color: #ecad10e8; /* a -> anchor tags -> hyperlink */
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: none;
  color: #6b4f06a0;
}

body {
    background-color: #c6f4e6;
}

main {
    margin: 0 12%;
}


footer {
    text-align: center;
    font-weight: bold;
    background-color: #40504b; 
    color: #448D76; 
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 50px; */
}


/* mudar a fonte do menu -- colocar uma mais descolada */

/* 
#F7EDD4
#FCBA12
#ecad10e8
#448D76
#0d6346
#AE0D7A
#093426
 
#40504b
*/