#titulo-index {
    color: #093426;
    font-family: "Raleway:wght@400", sans-serif;
    font-size: 5rem;
}

#texto-index {
    color: #0c5c42;
    font-family: "Wix+Madefor+Text", sans-serif;
    font-size: 5.65rem; 
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap');

