* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,700&family=Poppins:wght@300&display=swap');


.navbar {
  background-color: #403F45;
  /* color: #093426; */
  display: flex;
  justify-content: space-around;
  /* height: 50px; outro jeito de aumentar altura do background do menu */
  align-items: center; /* todos alinhados na vertical */
  font-family: "IBM+Plex+Sans", sans-serif;
  font-size: 1.5rem;
}

.nav-list {
  list-style-type: none; /* tira os bullet points */
}

.nav-list .list-item {
  display: inline-block; /* deixa lado a lado*/
  padding: 2.5rem 0.6rem; /*40px 10px;  top -- left/right converter para rem */
}

.navbar a {
  color: #ecad10e8; /* a -> anchor tags -> hyperlink */
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: none;
  color: #FDEC00;
}

.logo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;

}

.menu {
  display: none;
}

.menu-line {
  width: 1.6rem;
  height: 0.22rem;
  background-color: #ecad10e8;
  margin-bottom: 0.3rem;
}

/* .menu-line:hover {
  background-color: #FDEC00;
} */

.menu:hover div {
  background-color: yellow;
} 

body {
    background-color: #f8f8f8;
}

main {
    margin: 0 12%;
}

footer {
    text-align: center;
    font-weight: bold;
    background-color: #403F45; 
    color: #ecad10e8; 
    padding: 0.6rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}


@media all and (max-width: 800px) {
  .menu:hover ~ .nav-list .list-item a:hover {
    color: #FDEC00 !important;
  }
.nav-list {
  list-style-type: none;
  width: 100%;
  text-align: center;
  padding-top: 0.425rem;
  display: none;
}
.nav-list .list-item {
  display: block;
  border-top: 0.06rem solid white;
  padding: 1rem;
}
.logo { 
  /* .primary-icon no tutorial */
  margin-left: 0.625rem;
  margin-top: 0.625rem;
}
.active {
  display: block;
}
main {
  margin: 0 5%; 
}
.navbar {
  flex-direction: column;
  position: relative;
}
.navbar .divlogo { /* .navbar .container-icon no tutorial */
  width: 100%;
}
.menu {
  display: block;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
}
