* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,700&family=Poppins:wght@300&display=swap');


.navbar {
  background-color: #403F45;
  /* color: #093426; */
  display: flex;
  justify-content: space-around;
  /* height: 50px; outro jeito de aumentar altura do background do menu */
  align-items: center; /* todos alinhados na vertical */
  font-family: "IBM+Plex+Sans", sans-serif;
  font-size: 1.5rem;
}

.logo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;

}

.nav-list {
  list-style-type: none; /* tira os bullet points */

}

.nav-list .list-item {
  display: inline-block; /* deixa lado a lado*/
  padding: 40px 10px; /* top -- left/right */
}

.navbar a {
  color: #ecad10e8; /* a -> anchor tags -> hyperlink */
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: none;
  color: #FDEC00;
}

body {
    background-color: #f8f8f8;
}

main {
    margin: 0 12%;
}


footer {
    text-align: center;
    font-weight: bold;
    background-color: #403F45; 
    color: #ecad10e8; 
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

