h2 {
    color: #0c5c42;
    font-size: 3.4rem;
}

h3 {
    color: #093426;
    font-size: 2.3rem;
}

hr {
  color: #ecad10e8;
  background-color: #ecad10e8;
  height: 0.3rem;

}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&family=Wix+Madefor+Text&display=swap');

/* .links {
    margin-top: auto;
} */

.links {
    flex-grow: 1;
    font-family: Ubuntu;
    font-size: 1.6rem;
    font-weight: 500;
}

a {
    color:#0c5c42;
    text-decoration: none;
}
  
a:hover {
    color:#E6CE1D;
}  #icone_linkedin {
    width: 1rem;
    height: 1rem;
  }

  #icone_github {   
    width: 1rem;
    height: 1rem;
  }

  #icone_email {
    width: 1rem;
    height: 1rem;
}