{% extends "base.html"  %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/projetos.css">
<title>Projetos - Portfólio de Marcus Betti</title>
{% endblock %}

{% block content %}
<!-- carrossel de imagens - com cada texto, imagem e link de projeto aparecendo de cada vez no mesmo lugar no centro da págia VER COMO SE FAZ ISSO -->
    <section id="textos-projetos">
        <br>
    
        <h2>Projetos</h2>
        <br>
        <h3>{{projeto1}}
        </h3>
        <p>
        Breve descrição de cada projeto, com link externo de cada um.
        </p>
        <br>
        <h3>{{projeto2}}
        </h3>
        <p>
        Breve descrição de cada projeto, com link externo de cada um.
        </p>
        <br>
        <h3>{{projeto3}}
        </h3>
        <p>
        Projeto de criação deste portfólio como a principal entrega da disciplina de Design Digital, ministrada pelo professor Fabrício Galende no 1º semestre do curso de Desenvolvimento de Software Multiplataforma da Fatec São José dos Campos. Falar sobre a ideia e os requisitos do portfólio, relacionando-os à ideia da disciplina.
        </p>

    <hr> 
    

{% endblock %} 